* {
  box-sizing: border-box;
}

.tittle {
  font-family: GoodVibesPro;
  font-size: 85px;
  text-align: center;
  padding-bottom: 10px;
}

.text {
  font-family: ProximaNovaRegular;
  font-size: 30px;

  text-align: center;
  line-height: 1.3;
}

.container {
  max-width: 1280px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 500px;
  background-image: url(img/header/bg.png);
  background-repeat: no-repeat;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-menu {
  font-family: ProximaNovaRegular;
  font-size: 24px;
  text-decoration: none;
}

.header__navbar-menu :first-child {
  color: #00b129;
}

.header__navbar-menu a {
  text-decoration: none;
  color: #282828;
  margin-right: 58px;
}

.header__navbar a {
  font-family: ProximaNovaRegular;
  font-size: 24px;
  text-decoration: none;
  color: #282828;
}

.header__navbar span {
  color: #00b129;
  font-size: 30px;
  font-family: MyriadProRegular;
}

.header__main {
  margin-top: 135px;
  margin-bottom: 60px;
}

.header__main-tittle {
  font-family: GoodVibesPro;
  font-size: 85px;
  display: block;
  margin-bottom: 50px;
}

.header__main-price {
  font-family: ProximaNovaRegular;
  font-size: 36px;
  padding: 25px 50px 20px 60px;
  background-image: url(img/header/price.png);
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  font-family: ProximaNovaBlack;
  font-size: 30px;
  padding: 35px 75px 30px 75px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  box-sizing: content-box;
  text-overflow: clip;
  border-radius: 100px;
}

.header-btn:hover {
  text-decoration: none;
}

.header-btn:active {
  position: relative;
  top: 1px;
}

.green {
  background: #009933;
  background: -webkit-linear-gradient(bottom, #006633 0%, #00cc33 45%);
}

.green:hover {
  background: #006633;
  background: -webkit-linear-gradient(bottom, #006633 5%, #00cc33 60%);
}

.green:active {
  background: #00cc33;
  background: -webkit-linear-gradient(bottom, #006633 15%, #00cc33 70%);
}

.story {
  background: url(img/story/img.png) no-repeat right;
  margin-right: 100px;
  padding-top: 80px;
  margin-top: -220px;
}

.story__text-p {
  font-family: ProximaNovaRegular;
  font-size: 30px;
  max-width: 760px;
  max-height: 740px;
  padding-bottom: 35px;
  margin-left: 70px;
  line-height: 1.3;
}

.story__text-p:first-child {
  font-family: ProximaNovaBold;
  font-size: 30px;
}

.price {
  background: url(img/price/bg.jpg) no-repeat;
  padding-top: 70px;
  height: 1350px;
}

.price__img {
  display: flex;
  justify-content: space-around;
  margin-bottom: -50px;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.price__columns {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

.price__column {
  background: url(img/price/column1.png) no-repeat;
  width: 400px;
  height: 650px;
  padding-top: 75px;
  padding-left: 60px;
}

.price__column-tittle {
  font-family: ProximaNovaBlack;
  font-size: 30px;
  text-align: center;
  margin-left: -50px;
}

.price__column-text {
  font-family: ProximaNovaRegular;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  margin-top: 35px;
}

.price__column-price {
  font-family: ProximaNovaBlack;
  font-size: 30px;
  padding-bottom: 5px;
}

.price__column-btn {
  font-family: ProximaNovaBold;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px dashed #000;
}

.price-yellow {
  color: #ffcc00;
}

.price-green {
  color: #009933;
}

.price-purpure {
  color: #9900cc;
}

.coming {
}

.coming__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
  align-items: center;
}

.coming__box-wrap {
  /* background: url(img/coming/line.png) no-repeat;
  padding-right: 150px;
  margin-bottom: -100px;
  height: 2000px; */
}

.coming__box-item {
}

.coming__box-itemimg {
}

.coming__box-itemtext {
  font-family: ProximaNovaRegular;
  font-size: 24px;
  line-height: 1.3;
}

.coming__box-itemtext1 {
  width: 390px;
  height: 270px;
  padding: 44px 44px 44px 50px;
  background: url(img/coming/bgtext1.png) no-repeat;
}

.coming__box-itemtext1 p {
  transform: rotate(-5deg);
}

.coming__box-itemtext2 {
  width: 570px;
  height: 260px;
  padding: 35px 26px 15px 57px;
  background: url(img/coming/bgtext2.png) no-repeat;
}

.coming__box-itemtext2 p {
  transform: rotate(5deg);
}

.coming__box-itemtext3 {
  width: 500px;
  height: 375px;
  padding: 50px 28px 30px 49px;
  background: url(img/coming/bgtext3.png) no-repeat;
}

.coming__box-itemtext3 p {
  transform: rotate(5deg);
}

.coming__box-itemtext4 {
  width: 570px;
  height: 215px;
  padding: 35px 37px 24px 62px;
  background: url(img/coming/bgtext4.png) no-repeat;
}

.coming__box-itemtext4 p {
  transform: rotate(3deg);
}

.timetable {
  height: 1305px;
  background: url(img/timetable/bg.png) no-repeat;
  padding-top: 140px;
}

.timetable__box {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.timtable__box-calendar p {
  display: inline-block;
  margin-bottom: 30px;
}

.timtable__box-calendar-m {
  font-family: LemonTuesdayRegular;
  font-size: 110px;
  margin-left: 160px;
}

.timtable__box-calendar-arch {
  font-family: LemonTuesdayRegular;
  font-size: 92px;
}

.timetable__box-info {
  width: 850px;
}

.timeteble__box-info-tittle {
  font-family: ProximaNovaBlack;
  font-size: 48px;
  padding-bottom: 50px;
}

.timetable__box-info-text {
  font-family: ProximaNovaRegular;
  font-size: 27px;
  padding-left: 60px;
  padding-bottom: 50px;
}

.t01 {
  background: url(img/timetable/01.png) no-repeat;
}

.t02 {
  background: url(img/timetable/02.png) no-repeat;
}

.t03 {
  background: url(img/timetable/03.png) no-repeat;
}

.safe {
  margin-right: 60px;
  margin-top: -50px;
  padding-bottom: 100px;
}

.safe__box {
  display: flex;
  justify-content: center;
}

.safe__box-text p {
  font-family: ProximaNovaRegular;
  font-size: 30px;
  width: 620px;
  max-height: 740px;
  padding-bottom: 35px;
  margin-left: 70px;
  line-height: 1.3;
}

.safe__box-text p:first-child {
  font-family: ProximaNovaBold;
  font-size: 30px;
}

.safe__box img {
  margin-left: 50px;
}

.faq {
  height: 1300px;
  background: url(img/FAQ/bg.png) no-repeat;
  padding-top: 150px;
}

.faq__list {
  padding-top: 30px;
}

.faq__list-item {
  font-family: ProximaNovaRegular;
  font-size: 30px;
  line-height: 1.3;
  height: 150px;
  padding-left: 190px;
  margin-bottom: 40px;
}

.faq__list-item span {
  font-family: ProximaNovaBlack;
  font-size: 36px;
  display: block;
}

.faq__list-item-01 {
  background: url(img/FAQ/01.png) no-repeat;
}

.faq__list-item-02 {
  background: url(img/FAQ/02.png) no-repeat;
}

.faq__list-item-03 {
  background: url(img/FAQ/03.png) no-repeat;
}

.faq__list-item-04 {
  background: url(img/FAQ/04.png) no-repeat;
}

.services {
  margin-top: -120px;
}

.services__box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.services__box-item img {
  padding-bottom: 40px;
}

.services__box-item span {
  font-family: ProximaNovaExtraBold;
  font-size: 30px;
  text-align: center;
}

.services__box-item p {
  font-family: ProximaNovaRegular;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
}

.services__box-item a {
  font-family: ProximaNovaBlack;
  font-size: 30px;
  padding: 35px 75px 30px 75px;
  text-decoration: none;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: white;
  box-sizing: content-box;
  text-overflow: clip;
  border-radius: 100px;
  margin-left: 75px;
  margin-top: 30px;
}

.btngreen:hover {
  text-decoration: none;
}

.btngreen:active {
  position: relative;
  top: 1px;
}

.btngreen {
  background: #009933;
  background: -webkit-linear-gradient(bottom, #006633 0%, #00cc33 45%);
}

.btngreen:hover {
  background: #006633;
  background: -webkit-linear-gradient(bottom, #006633 5%, #00cc33 60%);
}

.btngreen:active {
  background: #00cc33;
  background: -webkit-linear-gradient(bottom, #006633 15%, #00cc33 70%);
}

.footer {
  height: 840px;
  padding-top: 150px;
  background: url(img/contacts/bg.png) no-repeat;
}

.footer__box {
  display: inline-flex;
  align-items: center;
}

.footer__box img {
  z-index: 2;
}

.footer__box-contacts {
  background: url(img/contacts/bgimg.png) no-repeat;
  height: 230px;
  width: 487px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  z-index: 1;
  margin-left: -210px;
}

.footer__box-contacts-text {
  height: 113px;
  width: 76px;
  line-height: 1.3;
  padding-top: 32px;
  color: gray;
}

.footer__box-contacts-info {
  height: 113px;
  width: 185px;
  line-height: 1.3;
  padding-top: 32px;
}

.footer__box-contacts-info a {
  display: block;
  text-decoration: none;
  color: #000;
}

.footer__box-contacts-icon {
  display: block;
}

.footer__box-form {
  padding-left: 70px;
}

.footer__box-form p {
  font-family: ProximaNovaBlack;
  font-size: 24px;
  padding-bottom: 15px;
}

.footer__box-form input {
  display: block;
  height: 67px;
  width: 356px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.footer__box-form-bigform {
  /* height: 120px; */
}

@font-face {
  font-family: "GoodVibesPro";
  src: url(font/GoodVibesPro.ttf);
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(font/ProximaNovaRegular.ttf);
}

@font-face {
  font-family: "ProximaNovaBlack";
  src: url(font/ProximaNovaBlack.otf);
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url(font/ProximaNovaBold.otf);
}

@font-face {
  font-family: "ProximaNovaExtraBold";
  src: url(font/ProximaNovaExtraBold.otf);
}

@font-face {
  font-family: "LemonTuesdayRegular";
  src: url(font/LemonTuesdayRegular.ttf);
}

@font-face {
  font-family: "Mandela";
  src: url(font/Mandela.ttf);
}

@font-face {
  font-family: "MyriadProRegular";
  src: url(font/MyriadProRegular.otf);
}
